<%- include('../partials/header') %>

<h1 class="h1_footer"> CONDITIONS GÉNÉRALES DE VENTES </h1>
<p class="lienFooter_p1">Objet et champ d'application des Conditions générales de Vente</p>
<p class="lienFooter_p2">Généralités</p>
<p class="lienFooter_p">Les présentes conditions de vente sont conclues d’une part par la société Fab'Rik & Co. au capital de 10000 euros dont le siège social est au 2 rue de la Belle Étoile immatriculée au registre du commerce et des sociétés de Meaux sous le numéro 89863150200017 ci-après dénommée « .........https://www.lafabrik.fr..........​ » et d’autre part, par toute personne physique ou morale souhaitant procéder à un achat via le site Internet de la « .......https://www.lafabrik.fr......​ ».</p>
<p class="lienFooter_p">Fab'rik & Co se réserve la possibilité d'adapter ou de modifier à tout moment les présentes conditions générales de vente. Les conditions générales de vente applicables sont celles en vigueur au jour de la passation de votre commande. Vous reconnaissez avoir la pleine capacité à vous engager au titre des présentes conditions générales de vente lorsque vous effectuez des transactions sur notre site.</p>
<p class="lienFooter_p1">Offre produits</p>
<p class="lienFooter_p"> La liste et les caractéristiques des produits proposés sur ......https://www.lafabrik.fr....​ sont susceptibles d'être modifiées et adaptées à tout moment pour mieux répondre à vos attentes. Les photographies, les illustrations et les textes de .......https://www.lafabrik.fr.........​ ne sont pas contractuels. Les produits proposés sur notre site Internet sont conformes à la législation française et aux normes applicables en France.</p>
<p class="lienFooter_p">Les photographies et illustrations présentées en ligne ne sont pas contractuelles.</p>
<p class="lienFooter_p2">Disponibilité des produits</p>
<p class="lienFooter_p">Les produits et services sont offerts dans la limite des stocks disponibles.</p>
<p class="lienFooter_p2">Prix</p>
<p class="lienFooter_p">Les prix figurant dans le catalogue sont des prix TTC en euros tenant compte de la TVA applicable au jour de la commande ; tout changement du taux pourra être répercuté sur le prix des produits ou des services. La société Fab'rik & Co se réserve de modifier ses prix à tout moment, étant toutefois entendu que le prix figurant au catalogue en vigueur le jour de la commande sera le seul applicable à l’acheteur.</p>
<p class="lienFooter_p1">Commande, modalités de paiement et de retrait</p>
<p class="lienFooter_p2">Processus de commande</p>
<p class="lienFooter_p">La commande s’effectue directement à la boutique</p>
<p class="lienFooter_p2">Retrait des produits</p>
<p class="lienFooter_p">Délais de mise à disposition.</p>
<p class="lienFooter_p">Le délai de mise à disposition est fonction de la nature des produits commandés et est précisé dans le récapitulatif lors de la commande à la boutique.</p>
<p class="lienFooter_p">Le retrait des produits ne peut se faire qu'à la date et heure de retrait spécifié lors de la commande.</p>
<p class="lienFooter_p">Fab'rik & Co vous remettra un ticket de caisse et pourra vous demander de signer son double comme preuve de retrait.</p>
<p class="lienFooter_p">En cas de non retrait d'une commande, le prix de la commande vous sera facturé et la commande ne pourra pas être annulée.</p>
<p class="lienFooter_p2">Lieu de retrait</p>
<p class="lienFooter_p">Les lieux, les modalités et les montants de votre commande sont indiqués avant la validation de votre commande.</p>
<p class="lienFooter_p">Il est rappelé qu'aucune livraison ne sera faite par Fab'rik & Co.</p>
<p class="lienFooter_p">Ni annulation ni modification d'une commande</p>
<p class="lienFooter_p">Selon les dispositions de l'article L121-20-2 3° du Code de la Consommation, le droit de rétractation applicable en matière de vente à distance ne peut être exercé dans le cas de la fourniture de biens qui du fait de leur nature sont susceptibles de se détériorer ou de se périmer rapidement.</p>
<p class="lienFooter_p">En application de ce texte, il est expressément indiqué que toute commande ​ est ferme et définitive et que l'exercice du droit de rétractation est exclu.</p>
<p class="lienFooter_p">Les commandes qui ont donc été définitivement validées, payées ne sont pas annulables. Aucune marchandise ne peut être reprise ou échangée.</p>
<p class="lienFooter_p1">Mineurs</p>
<p class="lienFooter_p">Conformément aux dispositions de l'article L3342-1 du Code de la Santé Publique modifié par la loi n°2009-879 du 21 juillet 2009, la vente d'alcool à des mineurs de moins de dix-huit (18) ans est interdite. Par conséquent, l'achat de tout produit à base d'alcool lors de la commande, est formellement interdit aux mineurs de moins de dix-huit (18) ans. A cette occasion, une pièce d'identité pourra être demandée au client lors du retrait de sa commande en cas de doute.</p>
<p class="lienFooter_p1">Responsabilité</p>
<p class="lienFooter_p">Le vendeur, dans le processus de vente en boutique, n’est tenu que par une obligation de moyens; sa responsabilité ne pourra être engagée pour un dommage résultant de l’utilisation du réseau Internet tel que perte de données, intrusion, virus, rupture du service, ou autres problèmes involontaires.</p>
<p class="lienFooter_p">La fiche détaillée du produit est la seule source contractuelle. Les produits étant en constante évolution, ........https://www.lafabrik.fr.........​ peut être amenée à modifier sans préavis les emballages des produits, la composition technique et les caractéristiques des références produits, qui ne sont données qu'à titre indicatif.</p>
<p class="lienFooter_p1">Propriété Intellectuelle</p>
<p class="lienFooter_p">Tous les éléments du site de la société Fab'rik & Co sont et restent la propriété intellectuelle et exclusive de la société Fab'rik & Co. Personne n’est autorisé à reproduire, exploiter, rediffuser, ou utiliser à quelque titre que ce soit, même partiellement, des éléments du site qu’ils soient logiciels, visuels ou sonores. Tout lien simple ou par hypertexte est strictement interdit sans un accord écrit express de la société Fab'rik & Co.</p>
<p class="lienFooter_p1">Litiges</p>
<p class="lienFooter_p">Les présentes CGV sont soumises à la loi française.</p>
<p class="lienFooter_p  lienFooter_p_end">En cas de litige, le client s'adressera en priorité à Fab'rik & Co afin de trouver une solution amiable. A défaut, la compétence est attribuée aux tribunaux compétents du ressort du siège social de Fab'rik & Co. </p>

<%- include('../partials/footer') %>