<%- include('../partials/header') %>

<h1 class="h1_footer"> Témoignages clients </h1>
<p class="lienFooter_p1"> Ce que nos clients pensent de nous </p>

  <section class="container">
    <div class="container__quote">
      <blockquote>
        <p>"Bon accueil, cookie excellent. Les gâteaux semblent succulents. On peut s'asseoir et consommer sur place avec un café."</p>
        <cite>- Malauva Malauva</cite>
      </blockquote>
    </div>
  </section>

  <section class="container">
    <div class="container__quote">
      <blockquote>
        <p>"Le pain est très bon et la pâtisserie est de bonne qualité. Je recommande."</p>
        <cite>- Aurélie C</cite>
      </blockquote>
    </div>
  </section>

  <section class="container">
    <div class="container__quote">
      <blockquote>
        <p>"Cela faisait longtemps que je n'avais pas mangé un flan aussi bon. Bravo, continuez ainsi.."</p>
        <cite>- Filoch</cite>
      </blockquote>
    </div>
  </section>

  <section class="container">
    <div class="container__quote">
      <blockquote>
        <p>"J'adore leur pain de La Fab'rik & Co. Il est à la fois délicieux et magnifique."</p>
        <cite>- Lily-Rose LC</cite>
      </blockquote>
    </div>
  </section>

  <section class="container">
    <div class="container__quote">
      <blockquote>
        <p>"Enfin une boulangerie de qualité à Longperrier pour mes viennoiserie du matin."</p>
        <cite>- Flora</cite>
      </blockquote>
    </div>
  </section>


<%- include('../partials/footer') %>