<%- include('../partials/header') %>

<p class=" lienFooter_p2 lienFooter_p_end error">Veuillez remplir tous les champs du formulaire.</p>

<h3>Formulaire de contact</h3>
<form name="myForm" action="/send-email" onsubmit="return validateForm()" method="post">
         <table class="form-style">
            <tr>
               <td>
                  <label>
                     Votre nom <span class="required">*</span>
                  </label>
               </td>
               <td>
                  <input type="text" name="name" class="long"/>
                  <span class="error" id="errorname"></span>
               </td>
            </tr>
            <tr>
               <td>
                  <label>
                     Votre adresse e-mail <span class="required">*</span>
                  </label>
               </td>
               <td>
                  <input type="email" name="emailSend" class="long" />
                  <span class="error" id="erroremail"></span>
               </td>
            </tr>
            <tr>
               <td>
                  <label>
                     Message <span class="required">*</span>
                  </label>
               </td>
               <td>
                  <textarea name="message" class="long field-textarea"></textarea>
                  <span class="error" id="errormsg"></span>
               </td>
            </tr>
            <tr>
               <td></td>
               <td>
                  <input class="send_reset" type="submit" value="Envoyer">      
                  <input class="send_reset" type="reset" value="Réinitialiser"> 
               </td>
            </tr>
         </table>
      </form>

<%- include('../partials/footer') %>