<%- include('../partials/header') %>

<h3>Informations générales</h3> 
<p class="lienFooter_p1 lienFooter_p_end">Boulangerie La fab’rik & co - 2 rue de la Belle Etoile - 77230 Longperrier</p>
<p class="lienFooter_p lienFooter_p_end">Les données administratives : numéro d’inscription au registre du commerce et des sociétés (RCS) pour des activités commerciales, ou immatriculation au répertoire des métiers (RM) pour les activités artisanales (ou les deux à la fois en cas d’activités mixtes), et numéro de TVA intracommunautaire (dans le cas de relations commerciales entre votre site e-commerce et d’autres pays de l’Union européenne).</p>
<p class="lienFooter_p lienFooter_p_end">Les données propres aux activités réglementées : le nom et les coordonnées de l’autorité ayant délivré une autorisation d’exercer.</p> 
<p class="lienFooter_p lienFooter_p_end">Les informations sur l’hébergement du site : nom ou dénomination sociale de l’hébergeur (OVH, Hostinger, PlanetHoster…), adresse, numéro de téléphone.</p> 
<p class="lienFooter_p lienFooter_p_end">Les données relatives à l’identité de la société gestionnaire du site : sa dénomination sociale, sa forme juridique, l’adresse de son siège social, ses coordonnées de contact, et le montant de son capital social.</p> 

<%- include('../partials/footer') %>