<%- include('../partials/header') %>

<h1 class="h1_footer">Informations générales</h1> 
<p class="lienFooter_p1 lienFooter_p_end">Boulangerie La fab’rik & co - 2 rue de la Belle Étoile - 77230 Longperrier  <br> 01.64.77.47.85</p>
<p class="lienFooter_p2">Les données administratives :</p>
<p class="lienFooter_p lienFooter_p_end">SASU Fab'rik & Co, numéro RCS	Meaux B 898 631 502 immatriculée le 26-04-2021, numéro de TVA intracommunautaire FR96898631502 et Capital social de 10000,00 EURO.<br>L'entreprise HOLDING BUTARD ROJEWSKI, représentée par HOLDING BUTARD ROJEWSKI (898 049 945 SAINT-MARD) agissant et ayant les pouvoirs nécessaires en tant que président, elle-même représentée par M Fabien ROJEWSKI agissant et ayant les pouvoirs nécessaires en tant que président.</p>
  <p class="lienFooter_p2">Les données propres aux activités réglementées :</p>
<p class="lienFooter_p lienFooter_p_end">Fab'rik & Co, est spécialisée dans le secteur d'activité de la boulangerie et boulangerie-pâtisserie (1071C).</p> 
<p class="lienFooter_p2">Les informations sur l’hébergement du site :</p>
<p class="lienFooter_p lienFooter_p_end">Nom ou dénomination sociale de l’hébergeur (OVH, Hostinger, PlanetHoster…), adresse, numéro de téléphone.</p> 
<p class="lienFooter_p2">Les données relatives à l’identité du gestionnaire du site : </p>
<p class="lienFooter_p lienFooter_p_end">Réalisé par Jérôme Conton.</p> 

<%- include('../partials/footer') %>