<%- include('../partials/header') %>

<h1 class="h1_footer">ils parlent de nous</h1> 

<div class="publication_container">

  <div class="publication_container1">
    <img class="publication_container1_logo" src="img/footer/publication/bfm_logo.webp" alt="photo bfmtv logo" loading="lazy">
    <a href="https://www.bfmtv.com/societe/corinne-butard-boulangere-a-annonce-des-licenciements-dans-son-entreprise-a-cause-des-prix-de-l-energie_VN-202301020638.html" target="_blank">
      <img class="publication_container1_link" src="img/footer/publication/bfm.webp" alt="photo bfm link" loading="lazy">
   </a>
  </div>

  <div class="publication_container1">
    <img class="publication_container1_logo" src="img/footer/publication/bfm_logo.webp" alt="photo bfmtv logo" loading="lazy">
    <a href="https://www.bfmtv.com/societe/manifestations/tout-le-monde-doit-se-mobiliser-et-le-plus-vite-possible-affirme-corinne-butard-boulangere-en-seine-et-marne_VN-202304050778.html" target="_blank">
      <img class="publication_container1_link" src="img/footer/publication/bfm2.webp" alt="photo bfm link" loading="lazy">
   </a>
  </div>

  <div class="publication_container1">
    <img class="publication_container1_logo" src="img/footer/publication/la marne_logo.webp" alt="photo la marne logo" loading="lazy">
    <a href="https://actu.fr/ile-de-france/longperrier_77259/seine-et-marne-une-premiere-boulangerie-vient-douvrir-ce-1er-septembre_53659902.html" target="_blank">
      <img class="publication_container1_link" src="img/footer/publication/la marne.webp" alt="photo la marne link" loading="lazy">
   </a>
  </div>

  <div class="publication_container1">
    <img class="publication_container1_logo" src="img/footer/publication/rtl_logo.webp" alt="photo rtl logo" loading="lazy">
    <a href="https://www.tiktok.com/@rtl.officiel/video/7187357249713491206" target="_blank">
      <img class="publication_container1_link" src="img/footer/publication/rtl.webp" alt="photo rtl link" loading="lazy"> 
   </a>
  </div>

  <div class="publication_container1">
    <img class="publication_container1_logo" src="img/footer/publication/cnews_logo.webp" alt="photo cnews logo" loading="lazy">
    <a href="https://www.cnews.fr/videos/france/2023-01-12/energie-une-patronne-de-boulangeries-de-seine-et-marne-contrainte-de" target="_blank">
      <img class="publication_container1_link" src="img/footer/publication/cnews.webp" alt="photo cnews link" loading="lazy">
   </a>
  </div>

</div>

<%- include('../partials/footer') %>