<%- include('../partials/header') %>

<p class="lienFooter_p2">Nous n’avons pas de postes à pourvoir actuellement</p>
<br>
<p class="lienFooter_p lienFooter_p_end">Vous pouvez nous envoyer une candidature Spontannée à l’adresse suivante :</p>
<p class="lienFooter_p2">Boulangerie La Fab’Rik & Co</p>
<p class="lienFooter_p">2 rue de la Belle Etoile</p>
<p class="lienFooter_p lienFooter_p_end">77230 Longperrier</p>

<%- include('../partials/footer') %>