</main>
<footer>
    <div class="footer_container">
        <div class="footer_container1">
            <a href="https://www.google.fr/maps/place/Boulangerie/@49.0495697,2.662191,16.06z/data=!3m1!5s0x47e622d6cc2ecfc1:0xc0aee61081ac1007!4m14!1m7!3m6!1s0x47e623503ba3ef17:0x865f819ef63d92c!2sBoulangerie!8m2!3d49.0463668!4d2.6630939!16s%2Fg%2F11s7z7t684!3m5!1s0x47e623503ba3ef17:0x865f819ef63d92c!8m2!3d49.0463668!4d2.6630939!16s%2Fg%2F11s7z7t684" target="_blank">
                <img src="img/localisation.png"  alt="localisation" class="footer_container1_map">
            </a>
            <!-- <div class="footer_container1_map_tag">
                <div class="footer_address">
                    <p class="footer_adress_p">
                    boulangerie <br> la fab'Rik & co <br> 2 rue de la belle étoile <br> 77230 longperrier
                    </p>
                </div>
                <div class="footer_open">
                    <p class="footer_open_p">
                        horaires <br> <br> lundi 7h - 20h  <br> mardi    7h - 20h <br> mercredi 7h - 20h <br> jeudi    7h - 20h
                        <br> vendredi  7h - 20h <br> samedi    7h - 20h <br> dimanche  fermé
                    </p>
                </div>
            </div> -->
        </div>

        <div class="footer_container2">
            <div class="footer_container2_nav">
                <a href="/informations" class="footer_container2_nav_link">informations</a>
                <a href="/contact" class="footer_container2_nav_link">contact</a>
                <a href="/commentaires" class="footer_container2_nav_link">commentaires</a>
                <a href="/publications" class="footer_container2_nav_link">publications</a>
                <a href="/recrutement" class="footer_container2_nav_link">recrutement</a>
            </div>    
        </div>

        <div class="footer_container3">
            <div class="footer_logo">
                <a href="/">
                    <img src="img/logo_la_fab_rik_resize_x6.png"  alt="logo" class="footer_logo_img">
                </a>
            </div>

        </div>

        <div class="footer_container4">
            <div class="footer_container4_nav">
                <a href="/cgv" class="footer_container4_nav_link">cGV</a>
                <a href="/mentionslegales" class="footer_container4_nav_link">mentions légales</a>
                <a href="/pdc" class="footer_container4_nav_link">politique de confidentialité</a>
            </div>
        </div>


    </div>
    <div class="container_footer_end">
        <p>boulangerie la fab'Rik & co  -  2 rue de la belle étoile 77230 longperrier  -  site internet réalisé par Jérôme Conton &copy;2023 </p>
    </div>
    
</footer>

<script src="/js/index.js"></script>
</body>

</html>