<%- include ('head') %>

<header class="header">

    <div class="header_container1">
        <div class="header_address">
            <p class="header_adress_p">
               boulangerie <br> la fab'Rik & co <br> 2 rue de la belle étoile <br> 77230 longperrier
            </p>
        </div>
        <div class="header_logo">
            <a href="/">
                <img src="img/logo_la_fab_rik_resize_x6.png"  alt="logo" class="header_logo_img">
            </a>
        </div>
        <div class="header_open">
            <p class="header_open_p">
                horaires <br> <br> lundi 7h - 20h  <br> mardi    7h - 20h <br> mercredi 7h - 20h <br> jeudi    7h - 20h
                <br> vendredi  7h - 20h <br> samedi    7h - 20h <br> dimanche  fermé
            </p>
        </div>
    </div>    

    <div class="header_container2">
        <div class="header_nav">
            <a href="/accueil" class="header_nav_link">accueil</a>
            <a href="/boulangerie" class="header_nav_link">boulangerie</a>
            <a href="/viennoiserie" class="header_nav_link">viennoiserie</a>
            <a href="/patisserie" class="header_nav_link">pâtisserie</a>
            <a href="/snackingsucre" class="header_nav_link">snacking sucré</a>
            <a href="/snackingsale" class="header_nav_link">snacking salé</a>
            <a href="/formules" class="header_nav_link">formules</a>
        </div>
    </div>
    

</header>

<main>