<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="site internet de la boulangerie La Fab'rik & Co située à 2 rue de la belle étoile 77230 Longperrier">

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/mediaquery.css" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="./css/accueil.css" media="print" onload="this.media='all'">  
    <link rel="stylesheet" href="./css/autrePage.css " media="print" onload="this.media='all'"> 
    <link rel="stylesheet" href="./css/liensfooter.css" media="print" onload="this.media='all'">

    <title>La Fab'Rik & Co</title>
</head>

<body>