<div class="header_container2">
  <div class="header_nav">
      <a href="/accueil" class="header_nav_link">accueil</a>
      <a href="/boulangerie" class="header_nav_link">boulangerie</a>
      <a href="/viennoiserie" class="header_nav_link">viennoiserie</a>
      <a href="/patisserie" class="header_nav_link">pâtisserie</a>
      <a href="/snackingsucre" class="header_nav_link">snacking sucré</a>
      <a href="/snackingsale" class="header_nav_link">snacking salé</a>
      <a href="/formule" class="header_nav_link">formule</a>
  </div>
</div>