/* Accueil */
.container_page {
  font-size: 1vw;

}

.container_picture_top_page {
  position: relative;
  top: -1vw;
}

.accueil_container_photo_img {
  object-fit: fill;
  width: 100vw;
  height: 25vw;  
}

.accueil_container1 {
  display: flex;
  margin-bottom: 3vw;
  opacity: 0;
  transition: opacity 1s;
}

.accueil_container1_left {
  text-align: center;
  padding: 3vw 5vw 3vw 10vw;
  max-width: 35vw;
  min-width: 35vw;
}

h2 {
  text-transform: capitalize;
  margin-bottom: 2vw;
}

.accueil_container1_nav {
  display: flex;
  justify-content: center;
  color: #FAF2DE;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.accueil_container1_nav :hover {
  transform: scale(1.2);
}

.accueil_container1_nav_link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #D0B084;
  color:#191919;
  text-decoration: none;
  width: 14vw;
  height: 2vw;
  margin: 1.5vw 0 0 0;
  border-radius: 2rem;
  font-size: 0.8vw;
  font-weight: 900;
}

.accueil_container1_right {
  display: flex;
  flex-direction: column;
  padding: 5.5vw 10vw 3vw 5vw;
  max-width: 35vw;
  transition: transform 0.3s ease-in-out;
}

.accueil_container1_picture {
  display: flex;
  justify-content: space-around;
  transition: transform 0.3s ease-in-out;
}

.accueil_container1_img {
  object-fit: contain;
  display: flex;
  width: 7vw;
  height: 10vw;
  padding: 0 1vw;
  border-radius: 2rem;
  transition: transform 0.3s ease-in-out;
}

.accueil_container1_img :hover {
  transform: scale(2);
}

.accueil_container2 {
  display: flex;
  margin-bottom: 3vw;
  opacity: 0;
  transition: opacity 1s;
}

.accueil_container2_left {
  padding: 5.5vw 0 3vw 10vw;
  max-width: 35vw;
  min-width: 35vw;
}

.accueil_container2_right {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 3vw 10vw 3vw 10vw;
  max-width: 35vw;
  transition: transform 0.3s ease-in-out;
}

.accueil_container2_nav {
  display: flex;
  justify-content: center;
  color: #FAF2DE;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.accueil_container2_nav :hover {
  transform: scale(1.2);
}

.accueil_container2_nav_link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #D0B084;
  color:#191919;
  text-decoration: none;
  width: 14vw;
  height: 2vw;
  margin: 1.5vw 0 0 0;
  border-radius: 2rem;
  font-size: 0.8vw;
  font-weight: 900;
}

.accueil_container2_picture {
  display: flex;
  justify-content: space-around;
  transition: transform 0.3s ease-in-out;
}

.accueil_container2_img {
  object-fit: contain;
  display: flex;
  width: 7vw;
  height: 10vw;
  padding: 0 1vw;
  border-radius: 2rem;
  transition: transform 0.3s ease-in-out;
}

.accueil_container2_img :hover {
  transform: scale(1.2);
}

.accueil_container3 {
  display: flex;
  margin-bottom: 3vw;
  opacity: 0;
  transition: opacity 1s;
}

.accueil_container4 {
  display: flex;
  margin-bottom: 3vw;
  opacity: 0;
  transition: opacity 1s;
}

.accueil_container5 {
  display: flex;
  margin-bottom: 3vw;
  opacity: 0;
  transition: opacity 1s;
}

.accueil_container6 {
  display: flex;
  margin-bottom: 3vw;
  opacity: 0;
  transition: opacity 1s;
}
