* {
  max-width: 100%;
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html, body {
  height: 100%;
}

body {
  background-color: #191919;  
  display: flex;
  flex-direction: column;
}

/* --------------- Mise en page du main --------------- */

main {
  background-color: #191919;
  color: #FAF2DE;
  flex-grow: 1;
}