/* Landing page */
h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: 2vw;
  padding-top: 2vw;
}

.container1_presentation_p1 {
  padding: 3vw 10vw 0 10vw;
  text-align: center;
  font-size: 1vw;
  opacity: 0;
  animation: fade-in 1.5s forwards;
}

.container1_presentation_p2 {
  padding: 1.5vw 10vw 0 10vw;
  text-align: center;
  font-size: 1vw;
  opacity: 0;
  animation: fade-in 2s forwards;
}

.container1_presentation_p3 {
  padding: 1.5vw 10vw 0 10vw;
  text-align: center;
  font-size: 1vw;
  opacity: 0;
  animation: fade-in 2.5s forwards;
}

.container1_presentation_p4 {
  padding: 1.5vw 10vw 3vw 10vw;
  text-align: center;
  font-size: 1vw;
  opacity: 0;
  animation: fade-in 3s forwards;
}

.container1_presentation_nav {
  display: flex;
  justify-content: center;
  color: #FAF2DE;
  font-size: 1vw;
  text-align: center;
  opacity: 0;
  animation: fade-in 3s forwards;
  transition: transform 0.3s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container1_presentation_nav :hover {
  transform: scale(1.2);
}

.container1_presentation_nav_link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #D0B084;
  color:#191919;
  text-decoration: none;
  width: 15vw;
  height: 2vw;
  border-radius: 2rem;
  font-size: 0.8vw;
  font-weight: 900;
}

.container2_presentation{
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 2s;
}


.container2_presentation_img {
  object-fit: cover;
  padding: 8vw 10vw 3vw 10vw;
  min-width: 35vw;
  max-height: 24vw;  
  animation: slideInLeft 2s forwards;
  animation-delay: 2s;
}

.container2_presentation_right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1vw 0;
  padding: 9vw 10vw 3vw 0;
  text-align: center;
  font-size: 1vw;
}

.container2_presentation_nav {
  display: flex;
  justify-content: center;
  color: #FAF2DE;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.container2_presentation_nav :hover {
  transform: scale(1.2);
}

.container2_presentation_nav_link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #D0B084;
  color:#191919;
  text-decoration: none;
  width: 14vw;
  height: 2vw;
  margin: 1.5vw 0 0 0;
  border-radius: 2rem;
  font-size: 0.8vw;
  font-weight: 900;
}

.container3_presentation{
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 2s;
}

.container3_presentation_left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1vw 0;
  padding: 9vw 1vw 3vw 10vw;
  text-align: center;
  font-size: 1vw;
}

.container3_presentation_nav {
  display: flex;
  justify-content: center;
  color: #FAF2DE;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.container3_presentation_nav :hover {
  transform: scale(1.2);
}

.container3_presentation_nav_link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #D0B084;
  color:#191919;
  text-decoration: none;
  width: 14vw;
  height: 2vw;
  margin: 1.5vw 0 0 0;
  border-radius: 2rem;
  font-size: 0.8vw;
  font-weight: 900;
}

.container3_presentation_img {
  display: flex;
  justify-content: space-between;
  padding: 8vw 10vw 3vw 8vw;
  max-width: 35vw;
  min-width: 35vw;
}

.container4_presentation{
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 2s;
}


.container4_presentation_img {
  object-fit: cover;
  padding: 8vw 10vw 3vw 10vw;
  max-height: 24vw;
  min-width: 35vw;  
  animation: slideInLeft 2s forwards;
  animation-delay: 2s;
}

/* @keyframes slideInLeft2 {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
} */


.container5_presentation{
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 2s;
}