* {
  max-width: 100%;
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  
}

body {
  background-color: #191919;
}


/* --------------- Mise en page du Header --------------- */

header {
  background-color: #D0B084;
}

.header_container1 {
  display: flex;
  justify-content: space-between;
  max-height: 100vh;
  min-height: 1vh;
  width: 100vw;
  text-transform: capitalize;
}

.header_address{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12%;
  border-radius: 25%;
  background-color: #191919;
  color: #FAF2DE;
  font-size: 1vw;
  text-align: center;
  margin: 2vw;
  line-height: 2;
}

.header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  background-color: #191919;
  margin: 3.5vw;
}

.header_logo_img {
  width: 30vw;
}

.header_open {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13%;
  border-radius: 25%;
  background-color: #191919;
  color: #FAF2DE;
  font-size: 1vw;
  text-align: center;
  margin: 2vw;
}

.header_container2 {
  max-height: 100vh;
  min-height: 0vw;
  width: 100vw;
  text-transform: capitalize;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  color: #FAF2DE;
  font-size: 1vw;
  text-align: center;
  margin: 1vw 5vw;
}

.header_nav_link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191919;
  color: #FAF2DE;
  text-decoration: none;
  width: 9vw;
  height: 2.5vw;
  margin-bottom: 1vw;
  border-radius: 2rem;
}


/* --------------- Mise en page du main --------------- */

main {
  background-color: #191919;
  color: #FAF2DE;
  /* min-height: 100vw; */
}

/* Landing page */
h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2vw;
  padding-top: 1vw;
}

.container1_presentation_p {
  padding: 3vw 10vw;
  text-align: center;
  font-size: 1vw;
}

.container1_presentation_nav {
  display: flex;
  justify-content: center;
  color: #FAF2DE;
  font-size: 1vw;
  text-align: center;
}

.container1_presentation_nav_link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #FAF2DE;
  color:#191919;
  text-decoration: none;
  width: 15vw;
  height: 2vw;
  /* margin-bottom: 1vw; */
  border-radius: 2rem;
  font-size: 0.8vw;
  font-weight: 900;
}

.container2_presentation{
  display: flex;
  justify-content: space-between;
}

.container2_presentation_img {
  padding: 8vw 10vw 3vw 10vw;
  max-width: 35vw;
  min-width: 35vw;
}

.container2_presentation_right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1vw 0;
  padding: 9vw 10vw 3vw 0;
  text-align: center;
  font-size: 1vw;
}

.container2_presentation_nav {
  display: flex;
  justify-content: center;
  color: #FAF2DE;
  text-align: center;
}

.container2_presentation_nav_link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #FAF2DE;
  color:#191919;
  text-decoration: none;
  width: 14vw;
  height: 2vw;
  margin: 1.5vw 0 0 0;
  border-radius: 2rem;
  font-size: 0.8vw;
  font-weight: 900;
}

.container3_presentation{
  display: flex;
  justify-content: space-between;
}

.container3_presentation_left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1vw 0;
  padding: 9vw 1vw 3vw 10vw;
  text-align: center;
  font-size: 1vw;
}

.container3_presentation_nav {
  display: flex;
  justify-content: center;
  color: #FAF2DE;
  text-align: center;
}

.container3_presentation_nav_link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #FAF2DE;
  color:#191919;
  text-decoration: none;
  width: 14vw;
  height: 2vw;
  margin: 1.5vw 0 0 0;
  border-radius: 2rem;
  font-size: 0.8vw;
  font-weight: 900;
}

.container3_presentation_img {
  display: flex;
  justify-content: space-between;
  padding: 8vw 10vw 3vw 8vw;
  max-width: 35vw;
  min-width: 35vw;
}

/* --------------- Mise en page du Footer --------------- */

.footer_container{
  background-color: #D0B084;
  
}

.footer_container1 {
  padding: 1vw 1vw 0 1vw;
}

.footer_container1_map {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}

.footer_container1_map_tag {
  display: inline-flex;
  justify-content: space-between;
  max-height: 10.7vw;
  text-transform: capitalize;
  position: absolute;
  left: 1vw;
  bottom: -33.8vw;
  min-width: 96.8vw;
}

.footer_address{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12%;
  border-bottom-right-radius: 25%;
  background-color: #191919;
  color: #FAF2DE;
  font-size: 1vw;
  text-align: center;
  line-height: 2;
}

.footer_open {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12%;
  border-bottom-left-radius: 25%;
  background-color: #191919;
  color: #FAF2DE;
  font-size: 1vw;
  text-align: center;
}


.footer_container2 {  
  max-height: 100vh;
  min-height: 0vw;
  width: 100vw;
  text-transform: capitalize;
}

.footer_container2_nav {
  display: flex;
  justify-content: space-between;
  color: #FAF2DE;
  text-align: center;
  font-size: 0.9vw;
  
  margin: 0.5vw 5vw;
}

.footer_container2_nav_link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191919;
  color: #FAF2DE;
  text-decoration: none;
  width: 9vw;
  height: 1vw;
  border-radius: 2rem;
}

.footer_container3 {
  display: flex;
  justify-content: center;
}

.footer_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9vw;
  height: 2vw;
  background-color: #191919;
  margin: 1vw;
}

.footer_logo_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_container4 {
  max-height: 100vh;
  min-height: 0vw;
  width: 100vw;
  text-transform: capitalize;
}

.footer_container4_nav {
  display: flex;
  justify-content: space-between;
  color: #FAF2DE;
  text-align: center;
  font-size: 0.5vw;
  margin: 0vw 30vw;
}

.footer_container4_nav_link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191919;
  color: #FAF2DE;
  text-decoration: none;
  width: 8.5vw;
  height: 0.5vw;
  margin-bottom: 0.3vw;
  border-radius: 2rem;
}

.container_footer_end { 
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FAF2DE;
  font-size: 0.6vw;
  text-align: center;
  text-transform: capitalize;
}

/* --------------- Mise en page lien du Footer --------------- */

h3 {
  margin-top: 3vw;
  font-size: 2vw;
  text-align: center;
}

.lienFooter_p1 {
  text-align: center;
  margin: 5vw 5vw 0 5vw;
  font-size: 1.4vw;
  font-weight: 700;
}

.lienFooter_p2 {
  text-align: center;
  margin: 0 3vw;
  font-size: 1.2vw;
  font-weight: 600;
}

.lienFooter_p {
  text-align: center;
  margin: 0 3vw;
  font-size: 1vw;
}

.lienFooter_p_end {
  margin-bottom: 3vw;

}

/* Formulaire de contact */
.form-style {
  margin:10px auto;
  width: 400px;
  padding: 20px 12px 10px 20px;
  font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style td {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
.form-style label{
  margin:0 0 3px 0;
  padding:0px;
  display:block;
  font-weight: bold;
}
.form-style .required{
  color:red;
}
.form-style input[type=submit], .form-style input[type=reset]{
  background: #4eb5f1;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}
.form-style input[type=submit]:hover, .form-style input[type=reset]:hover{
  background: #4eb5f1;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}
.form-style .field-textarea{
  height: 100px;
}
.form-style input[type=text], 
.form-style input[type=email],
textarea{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border:1px solid #BEBEBE;
  padding: 7px;
  margin:0px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;  
}
.form-style .long{
  width: 100%;
}
.form-style input[type=text]:focus, 
.form-style input[type=email]:focus,
.form-style textarea:focus{
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}
.error{
  color: #D8000C;
  /* background-color: #FFBABA; */
}

.send_reset {
  cursor: pointer;
}

/* --------------- Mise en page Erreur 404 --------------- */

.error404_p {
  text-transform: uppercase;
  text-decoration: none;
  color: #FAF2DE;
  text-align: center;
  line-height: 1.5;
  font-size: 2.3vw;
}

.error404_p_clic {
  text-transform: uppercase;
  text-decoration: none;
  color: #FAF2DE;
  text-align: center;
  line-height: 1.5;
  font-size: 0.8vw;
}

.error404 {
  padding: 0;
  margin: 0 20vw;
  width: 40vw;
  height: 23vw;
  object-fit: cover;
}

/* --------------- Mise en page mail envoyer --------------- */

.emailSend_p {
  text-transform: uppercase;
  text-decoration: none;
  color: #FAF2DE;
  text-align: center;
  line-height: 1.4;
  font-size: 2.3vw;
}

.emailSend_p_clic {
  text-transform: uppercase;
  text-decoration: none;
  color: #FAF2DE;
  text-align: center;
  line-height: 1.5;
  font-size: 0.8vw;
}

.emailSend {
  padding: 0;
  margin: 0 31vw;
  width: 40vw;
  height: 26vw;
}

.emailNotSend_p {
  text-transform: uppercase;
  text-decoration: none;
  color: #FAF2DE;
  text-align: center;
  line-height: 1.4;
  font-size: 2.3vw;
}

.emailNotSend_p_clic {
  text-transform: uppercase;
  text-decoration: none;
  color: #FAF2DE;
  text-align: center;
  line-height: 1.5;
  font-size: 0.8vw;
}

.emailNotSend {
  padding: 0;
  margin: 0 0vw;
  width: 100vw;
  height: 26vw;
  object-fit:fill;
}
