<%- include('../partials/header') %>

<div class="container_page">

  <div class="container_picture_top_page">
    <img class="accueil_container_photo_img" src="img/accueil/shop_outdoor2.jpg" alt="photo boutique la fab'rik & co">
  </div>

  <section>
    <div class="accueil_container1">
      <div class="accueil_container1_left">
        <h2>notre boulangerie</h2>
        <p>Plongez dans l'irrésistible douceur de notre pain fraîchement sorti du four. Sa croûte dorée et croustillante cache un intérieur moelleux qui ravira vos papilles à chaque bouchée.</p>
        <br>
        <p>Un délice incontournable pour accompagner vos repas et éveiller vos sens.</p> 
      
        <div class="accueil_container1_nav">
          <a class="accueil_container1_nav_link" href="/boulangerie">Découvrir notre boulangerie</a>
        </div> 
      </div> 
      <div class="accueil_container1_right">
        <div class="accueil_container1_picture">
          <img class="accueil_container1_img" src="img/boulangerie/baguette_campagne.png" alt="photo pain">
          <img class="accueil_container1_img" src="img/accueil/painx3.png" alt="photo pain">
          <img class="accueil_container1_img" src="img/boulangerie/baguette1.png" alt="photo pain">
          <img class="accueil_container1_img" src="img/boulangerie/campagne.png" alt="photo pain">
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="accueil_container2">
      <div class="accueil_container2_left">
        <div class="accueil_container2_picture">
          <img class="accueil_container2_img" src="img/viennoiserie/croissants.png" alt="photo croissant">
          <img class="accueil_container2_img" src="img/viennoiserie/viennois.png" alt="photo pain viennois">
          <img class="accueil_container2_img" src="img/viennoiserie/pain_suisse.png" alt="photo pain suisse">
          <img class="accueil_container2_img" src="img/viennoiserie/pain_raisin.png" alt="photo pain raisin">
        </div>
      </div>
      <div class="accueil_container2_right">
        <h2>nos viennoiseries</h2>
        <p>Régalez-vous avec nos viennoiseries artisanales fraîchement préparées, croustillantes à l'extérieur et délicieusement fondantes à l'intérieur.</p>
        <br>
        <p>Un pur délice gourmand qui éveillera vos matinées et comblera toutes vos envies sucrées.</p> 
        <div class="accueil_container2_nav">
          <a class="accueil_container2_nav_link" href="/viennoiserie">Découvrir nos viennoiseries</a>
        </div>
      </div> 
    </div>  
  </section>

  <section>
    <div class="accueil_container3">
      <div class="accueil_container1_left">
        <h2>nos pâtisseries</h2>
        <p>Plongez dans un univers de plaisirs sucrés avec nos pâtisseries raffinées, alliant créativité et savoir-faire. </p>
        <br>
        <p>Laissez-vous envoûter par des textures délicates, des saveurs exquises et une esthétique visuelle qui éveillera tous vos sens.</p> 
      
        <div class="accueil_container1_nav">
          <a class="accueil_container1_nav_link" href="/patisserie">Découvrir nos pâtisseries</a>
        </div> 
      </div> 
      <div class="accueil_container1_right">
        <div class="accueil_container1_picture">
          <img class="accueil_container1_img" src="img/accueil/indivX3.png" alt="photo patisserie">
          <img class="accueil_container1_img" src="img/patisserie/indiv2.png" alt="photo patisserie">
          <img class="accueil_container1_img" src="img/patisserie/fraisier.png" alt="photo patisserie">
          <img class="accueil_container1_img" src="img/patisserie/spe1.png" alt="photo patisserie">
        </div>
    </div>
  </section>

  <section>
    <div class="accueil_container4">
      <div class="accueil_container2_left">
        <div class="accueil_container2_picture">
          <img class="accueil_container2_img" src="img/snackSucre/snack_sucre1.png" alt="photo snacking sucré">
          <img class="accueil_container2_img" src="img/snackSucre/snack_sucre2.png" alt="photo snacking sucré">
          <img class="accueil_container2_img" src="img/snackSucre/snack_sucre1.png" alt="photo snacking sucré">
          <img class="accueil_container2_img" src="img/snackSucre/snack_sucre2.png" alt="photo snacking sucré">
        </div>
      </div>
      <div class="accueil_container2_right">
        <h2>nos snackings sucrés</h2>
        <p>Découvrez notre sélection de snacking sucré, une explosion de saveurs dans chaque bouchée.</p>
        <br>
        <p> Des en-cas gourmands qui satisferont vos envies sucrées à tout moment de la journée, pour une pause délicieusement irrésistible.</p> 
        <div class="accueil_container2_nav">
          <a class="accueil_container2_nav_link" href="/snackingsucre">Découvrir nos snackings sucrés</a>
        </div>
      </div> 
    </div>  
  </section>

  <section>
    <div class="accueil_container5">
      <div class="accueil_container1_left">
        <h2>nos snackings salés</h2>
        <p>L'univers salé de nos snacks irrésistibles est parfait pour combler vos petites faims</p>
        <br>
        <p>Dégustez des bouchées salées savoureuses, alliant des saveurs audacieuses à une texture croquante, pour une expérience de snacking inoubliable.</p> 
      
        <div class="accueil_container1_nav">
          <a class="accueil_container1_nav_link" href="/snackingsale">Découvrir nos snackings salés</a>
        </div> 
      </div> 
      <div class="accueil_container1_right">
        <div class="accueil_container1_picture">
          <img class="accueil_container1_img" src="img/snackSale/snack_sale10.png" alt="photo snacking salé">
          <img class="accueil_container1_img" src="img/snackSale/snack_sale1.png" alt="photo snacking salé">
          <img class="accueil_container1_img" src="img/snackSale/snack_sale2.png" alt="photo snacking salé">
          <img class="accueil_container1_img" src="img/snackSale/snack_sale7.png" alt="photo snacking salé">
        </div>
    </div>
  </section>

  <section>
    <div class="accueil_container6">
      <div class="accueil_container2_left">
        <div class="accueil_container2_picture">
          <img class="accueil_container2_img" src="img/formule/formule.jpg" alt="photo formule">
          <img class="accueil_container2_img" src="img/formule/formule.jpg" alt="photo formule">
          <img class="accueil_container2_img" src="img/formule/formule.jpg" alt="photo formule">
          <img class="accueil_container2_img" src="img/formule/formule.jpg" alt="photo formule">
        </div>
      </div>
      <div class="accueil_container2_right">
        <h2>nos formules</h2>
        <p>Découvrez nos formules conçues pour combler tous les appétits.</p>
        <br>
        <p>Offrant une combinaison parfaite de plats savoureux, d'accompagnements délicieux, de desserts exquis et de boissons variées.</p> 
        <div class="accueil_container2_nav">
          <a class="accueil_container2_nav_link" href="/formule">Découvrir nos formules</a>
        </div>
      </div> 
    </div>  
  </section>

</div>

<%- include('../partials/footer') %>