<%- include('../partials/header') %>

<div class="container_page">

  <div class="container_picture_top_page">
    <img class="boulangerie_container_photo_img" src="img/boulangerie/vitrine_pain3.webp" alt="photo boutique la fab'rik & co" loading="lazy">
  </div>

  <section>
    <div class="boulangerie_presentation">
      <h2>notre boulangerie</h2>
      <p>Plongez dans l'univers de la boulangerie avec le rayon de La Fab'rik & Co, où vous découvrirez une sélection de baguettes croustillantes et de pains spéciaux exquis.</p>
      <br>
      <p>Laissez-vous séduire par nos créations artisanales qui raviront vos papilles à chaque bouchée.</p>
    </div>
  </section>

  <section>
    <div class="boulangerie_container1">
      <h3>baguettes</h3>
      <div class="boulangerie_container1_picture">
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/boulangerie/baguette1.webp" alt="photo baguette" loading="lazy">
          <p class="boulangerie_container1_description_p"><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit --></p>
        </div>
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/boulangerie/baguette2.webp" alt="photo baguette" loading="lazy">
          <p class="boulangerie_container1_description_p"> <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit --> </p> 
        </div>
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/boulangerie/baguette3.webp" alt="photo baguette" loading="lazy">
          <p class="boulangerie_container1_description_p"><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit --></p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="boulangerie_container2">
      <h3>pains spéciaux</h3>
        <div class="boulangerie_container2_picture">
          <div class="boulangerie_container2_descriptionX4">
            <img class="boulangerie_container2_img" src="img/boulangerie/pain_fabrik.webp" alt="photo pain spéciaux" loading="lazy">
            <p class="boulangerie_container2_description_p"><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit--></p>
          </div>
          <div class="boulangerie_container2_descriptionX4">
            <img class="boulangerie_container2_img" src="img/boulangerie/campagne.webp" alt="photo pain spéciaux" loading="lazy">
            <p class="boulangerie_container2_description_p"><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit--></p>
          </div>
          <div class="boulangerie_container2_descriptionX4">
            <img class="boulangerie_container2_img" src="img/boulangerie/pain.webp" alt="photo pain spéciaux" loading="lazy">
            <p class="boulangerie_container2_description_p"><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit--></p>
          </div>
          <div class="boulangerie_container2_descriptionX4">
            <img class="boulangerie_container2_img" src="img/boulangerie/pain2.webp" alt="photo pain spéciaux" loading="lazy">
            <p class="boulangerie_container2_description_p"><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit--></p>
          </div>
        </div>
      <!-- <div class="boulangerie_container2_picture">
        <div class="boulangerie_container2_descriptionX3">
          <img class="boulangerie_container2_img" src="img/boulangerie/campagne.webp" alt="photo pain spéciaux" loading="lazy">
          <p class="boulangerie_container2_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="boulangerie_container2_descriptionX3">
          <img class="boulangerie_container2_img" src="img/boulangerie/campagne.webp" alt="photo pain spéciaux" loading="lazy">
          <p class="boulangerie_container2_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="boulangerie_container2_descriptionX3">
          <img class="boulangerie_container2_img" src="img/boulangerie/campagne.webp" alt="photo pain spéciaux" loading="lazy">
          <p class="boulangerie_container2_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </div> -->
    </div>
  </section>

</div>

<%- include('../partials/footer') %>