<%- include('../partials/header') %>

<div class="container_page">

  <section>
    <div class="boulangerie_presentation">
      <h2>nos formules</h2>
      <p>Nos formules sont conçues pour offrir une variété de produits à des prix abordables, tout en garantissant la qualité et la fraîcheur de nos produits.
        Nos formules incluent des options pour le petit-déjeuner et le déjeuner.</p>
      <br>
      <p>Nous sommes fiers de proposer une large gamme de produits frais et de qualité à des prix compétitifs, et nous sommes impatients de vous faire découvrir nos formules.</p>
    </div>
  </section>

  <section>
    <div class="boulangerie_container1">
      <h3>petit-déjeuner</h3>
      <div class="boulangerie_container1_picture">
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/formule/formule.webp" alt="photo formule">
          <p class="boulangerie_container1_description_p"><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit--></p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="boulangerie_container1">
      <h3>déjeuner</h3>
      <div class="boulangerie_container1_picture">
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/formule/formule.webp" alt="photo formule">
          <p class="boulangerie_container1_description_p"><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit--></p>
        </div>
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/formule/formule.webp" alt="photo formule">
          <p class="boulangerie_container1_description_p"><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit--></p>
        </div>
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/formule/formule.webp" alt="photo formule">
          <p class="boulangerie_container1_description_p"><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit--></p>
        </div>
      </div>
    </div>
  </section>

<%- include('../partials/footer') %>