<%- include('../partials/header') %>

<div class="container_page">

  <div class="container_picture_top_page">
    <img class="boulangerie_container_photo_img" src="img/patisserie/vitrine_patisserie.jpg" alt="photo boutique la fab'rik & co">
  </div>

  <section>
    <div class="boulangerie_presentation">
      <h2>nos pâtisseries</h2>
      <p>Chez La Fab'rik & Co plongez dans un monde de délices sucrés, où vous trouverez une sélection de pâtisseries artisanales.</p>
      <br>
      <p>Laissez-vous séduire par nos créations raffinées, mélange subtil de saveurs, de textures et de créativité, pour des instants de pur plaisir gustatif.</p>
    </div>
  </section>

  <section>
    <div class="boulangerie_container1">
      <h3>individuelles</h3>
      <div class="boulangerie_container1_picture">
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/patisserie/patisserie1.jpg" alt="photo pâtisserie individuelles">
          <p class="boulangerie_container1_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/patisserie/patisserie1.jpg" alt="photo pâtisserie individuelles">
          <p class="boulangerie_container1_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/patisserie/patisserie1.jpg" alt="photo pâtisserie individuelles">
          <p class="boulangerie_container1_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/patisserie/patisserie1.jpg" alt="photo pâtisserie individuelles">
          <p class="boulangerie_container1_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/patisserie/patisserie1.jpg" alt="photo pâtisserie individuelles">
          <p class="boulangerie_container1_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="boulangerie_container1">
      <h3>4/6/8 personnes et plus</h3>
      <div class="boulangerie_container1_picture">
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/patisserie/patisserie2.jpg" alt="photo pâtisserie 6 personnes">
          <p class="boulangerie_container1_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/patisserie/patisserie2.jpg" alt="photo pâtisserie 6 personnes">
          <p class="boulangerie_container1_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/patisserie/patisserie2.jpg" alt="photo pâtisserie 6 personnes">
          <p class="boulangerie_container1_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/patisserie/patisserie2.jpg" alt="photo pâtisserie 6 personnes">
          <p class="boulangerie_container1_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/patisserie/patisserie2.jpg" alt="photo pâtisserie 6 personnes">
          <p class="boulangerie_container1_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="boulangerie_container1">
      <h3>événements spéciaux</h3>
      <div class="boulangerie_container1_picture">
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/patisserie/paques.jpg" alt="photo gâteau paques">
          <p class="boulangerie_container1_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/patisserie/paques.jpg" alt="photo gâteau paques">
          <p class="boulangerie_container1_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/patisserie/paques.jpg" alt="photo gâteau paques">
          <p class="boulangerie_container1_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/patisserie/paques.jpg" alt="photo gâteau paques">
          <p class="boulangerie_container1_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/patisserie/paques.jpg" alt="photo gâteau paques">
          <p class="boulangerie_container1_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </div>
    </div>
  </section>


<%- include('../partials/footer') %>