<%- include('../partials/header') %>

<div class="container_page">

  <div class="container_picture_top_page">
    <img class="boulangerie_container_photo_img" src="img/patisserie/vitrine_patisserie3.webp" alt="photo boutique la fab'rik & co" loading="lazy">
  </div>

  <section>
    <div class="boulangerie_presentation">
      <h2>nos pâtisseries</h2>
      <p>Chez La Fab'rik & Co plongez dans un monde de délices sucrés, où vous trouverez une sélection de pâtisseries artisanales.</p>
      <br>
      <p>Laissez-vous séduire par nos créations raffinées, mélange subtil de saveurs, de textures et de créativité, pour des instants de pur plaisir gustatif.</p>
    </div>
  </section>

  <section>
    <div class="boulangerie_container1">
      <h3>individuelles</h3>
      <div class="boulangerie_container1_picture">
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/patisserie/indiv1.webp" alt="photo pâtisserie individuelles" loading="lazy">
          <p class="boulangerie_container1_description_p"><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit--></p>
        </div>
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/patisserie/indiv2.webp" alt="photo pâtisserie individuelles" loading="lazy">
          <p class="boulangerie_container1_description_p"><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit--></p>
        </div>
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/patisserie/indiv3.webp" alt="photo pâtisserie individuelles" loading="lazy">
          <p class="boulangerie_container1_description_p"><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit--></p>
        </div>
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/patisserie/flan_indiv3.webp" alt="photo pâtisserie individuelles" loading="lazy">
          <p class="boulangerie_container1_description_p"><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit--></p>
        </div>
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/patisserie/indiv4.webp" alt="photo pâtisserie individuelles" loading="lazy">
          <p class="boulangerie_container1_description_p"><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit--></p>
        </div>
      </div>
   
      <div class="boulangerie_container2_picture">
        <div class="boulangerie_container2_descriptionX4">
          <img class="boulangerie_container2_img" src="img/patisserie/indiv5.webp" alt="photo pâtisserie individuelles" loading="lazy">
          <p class="boulangerie_container2_description_p"><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit--></p>
        </div>
        <div class="boulangerie_container2_descriptionX4">
          <img class="boulangerie_container2_img" src="img/patisserie/indiv6.webp" alt="photo pâtisserie individuelles" loading="lazy">
          <p class="boulangerie_container2_description_p"><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit--></p>
        </div>
        <div class="boulangerie_container2_descriptionX4">
          <img class="boulangerie_container2_img" src="img/patisserie/indiv7.webp" alt="photo pâtisserie individuelles" loading="lazy">
          <p class="boulangerie_container2_description_p"><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit--></p>
        </div>
        <div class="boulangerie_container2_descriptionX4">
          <img class="boulangerie_container2_img" src="img/patisserie/indiv8.webp" alt="photo pâtisserie individuelles" loading="lazy">
          <p class="boulangerie_container2_description_p"><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit--></p>
        </div>
      </div> 
    </div>
  </section>

  <section>
    <div class="boulangerie_container1">
      <h3>4/6/8 personnes et plus</h3>
      <div class="boulangerie_container1_picture">
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/patisserie/fraisier.webp" alt="photo pâtisserie 6 personnes" loading="lazy">
          <p class="boulangerie_container1_description_p"><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit--></p>
        </div>
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/patisserie/gateau1.webp" alt="photo pâtisserie 6 personnes" loading="lazy">
          <p class="boulangerie_container1_description_p"><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit--></p>
        </div>
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/patisserie/gateau2.webp" alt="photo pâtisserie 6 personnes" loading="lazy">
          <p class="boulangerie_container1_description_p"><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit--></p>
        </div>
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/patisserie/gateau4.webp" alt="photo pâtisserie 6 personnes" loading="lazy">
          <p class="boulangerie_container1_description_p"><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit--></p>
        </div>
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/patisserie/gateau3.webp" alt="photo pâtisserie 6 personnes" loading="lazy">
          <p class="boulangerie_container1_description_p"><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit--></p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="boulangerie_container1">
      <h3>événements spéciaux</h3>
      <div class="boulangerie_container1_picture">
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/patisserie/spe1.webp" alt="photo gâteau paques" loading="lazy">
          <p class="boulangerie_container1_description_p"><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit--></p>
        </div>
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/patisserie/spe2.webp" alt="photo gâteau paques" loading="lazy">
          <p class="boulangerie_container1_description_p"><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit--></p>
        </div>
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/patisserie/spe3.webp" alt="photo gâteau paques" loading="lazy">
          <p class="boulangerie_container1_description_p"><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit--></p>
        </div>
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/patisserie/spe4.webp" alt="photo gâteau paques" loading="lazy">
          <p class="boulangerie_container1_description_p"><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit--></p>
        </div>
        <div class="boulangerie_container1_descriptionX3">
          <img class="boulangerie_container1_img" src="img/patisserie/spe5.webp" alt="photo gâteau paques" loading="lazy">
          <p class="boulangerie_container1_description_p"><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit--></p>
        </div>
      </div>
    </div>
  </section>


<%- include('../partials/footer') %>