<%- include('../partials/header') %>

<div class="container_page">

  <div class="container_picture_top_page">
    <img class="boulangerie_container_photo_img" src="img/snackSale/vitrine_snacking2.webp" alt="photo boutique la fab'rik & co" loading="lazy">
  </div>

  <section>
    <div class="boulangerie_presentation">
      <h2>nos snackings sucrés</h2>
      <p>Plongez dans le délice sucré avec le rayon de snacking de La Fab'rik & Co. Découvrez notre sélection de petites gourmandises sucrées, des collations irrésistibles qui combleront vos envies de douceurs.</p>
      <br>
      <p>Laissez-vous tenter par nos snacks sucrés, parfaits pour une pause gourmande à tout moment de la journée.</p>
    </div>
  </section>

  <section>
    <div class="snackSucre_container">
      <h3>snackings sucrés</h3>
        <div class="snackSucre_container_picture">
          <div class="snackSucre_container_descriptionX4">
            <img class="snackSucre_container_img" src="img/snackSucre/snack_sucre1.webp" alt="photo snack sucré" loading="lazy">
            <p class="snackSucre_container_description_p"><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit--></p>
          </div>
          <div class="snackSucre_container_descriptionX4">
            <img class="snackSucre_container_img" src="img/snackSucre/snack_sucre2.webp" alt="photo snack sucré" loading="lazy">
            <p class="snackSucre_container_description_p"><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit--></p>
          </div>
          <div class="snackSucre_container_descriptionX4">
            <img class="snackSucre_container_img" src="img/snackSucre/snack_sucre1.webp" alt="photo snack sucré" loading="lazy">
            <p class="snackSucre_container_description_p"><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit--></p>
          </div>
          <div class="snackSucre_container_descriptionX4">
            <img class="snackSucre_container_img" src="img/snackSucre/snack_sucre2.webp" alt="photo snack sucré" loading="lazy">
            <p class="snackSucre_container_description_p"><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit--></p>
          </div>
        </div>
      <!-- <div class="snackSucre_container_picture">
        <div class="snackSucre_container_descriptionX3">
          <img class="snackSucre_container_img" src="img/snackSucre/snack_sucre1.webp" alt="photo snack sucré" loading="lazy">
          <p class="snackSucre_container_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="snackSucre_container_descriptionX3">
          <img class="snackSucre_container_img" src="img/snackSucre/snack_sucre2.webp" alt="photo snack sucré" loading="lazy">
          <p class="snackSucre_container_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="snackSucre_container_descriptionX3">
          <img class="snackSucre_container_img" src="img/snackSucre/snack_sucre1.webp" alt="photo snack sucré" loading="lazy">
          <p class="snackSucre_container_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </div> -->
    </div>
  </section>

<%- include('../partials/footer') %>