<%- include('../partials/header') %>

<div class="container_page">

  <div class="container_picture_top_page">
    <img class="boulangerie_container_photo_img" src="img/snackSale/vitrine_snacking2.jpg" alt="photo boutique la fab'rik & co">
  </div>

  <section>
    <div class="boulangerie_presentation">
      <h2>nos snackings salés</h2>
      <p>Explorez notre rayon dédié au snacking salé chez La Fab'rik & Co. Une sélection de bouchées salées, des en-cas savoureux qui combleront vos petites faims.</p>
      <br>
      <p>Succombez aux saveurs audacieuses et à la texture croquante de nos snacks salés, parfaits pour une pause gourmande salée.</p>
    </div>
  </section>

  <section>
    <div class="snackSale_container">
      <h3>snackings salés</h3>
      <div class="snackSale_container_picture">
        <div class="snackSale_container_descriptionX3">
          <img class="snackSale_container_img" src="img/snackSale/snack_sale1.png" alt="photo baguette">
          <p class="snackSale_container_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="snackSale_container_descriptionX3">
          <img class="snackSale_container_img" src="img/snackSale/snack_sale2.png" alt="photo baguette">
          <p class="snackSale_container_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="snackSale_container_descriptionX3">
          <img class="snackSale_container_img" src="img/snackSale/snack_sale3.png" alt="photo baguette">
          <p class="snackSale_container_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </div>
      <div class="snackSale_container_picture">
        <div class="snackSale_container_descriptionX4">
          <img class="snackSale_container_img" src="img/snackSale/snack_sale4.png" alt="photo baguette">
          <p class="snackSale_container_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="snackSale_container_descriptionX4">
          <img class="snackSale_container_img" src="img/snackSale/snack_sale5.png" alt="photo baguette">
          <p class="snackSale_container_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="snackSale_container_descriptionX4">
          <img class="snackSale_container_img" src="img/snackSale/snack_sale6.png" alt="photo baguette">
          <p class="snackSale_container_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="snackSale_container_descriptionX4">
          <img class="snackSale_container_img" src="img/snackSale/snack_sale7.png" alt="photo baguette">
          <p class="snackSale_container_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </div>
      <div class="snackSale_container_picture">
        <div class="snackSale_container_descriptionX3">
          <img class="snackSale_container_img" src="img/snackSale/snack_sale8.png" alt="photo baguette">
          <p class="snackSale_container_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="snackSale_container_descriptionX3">
          <img class="snackSale_container_img" src="img/snackSale/snack_sale9.png" alt="photo baguette">
          <p class="snackSale_container_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="snackSale_container_descriptionX3">
          <img class="snackSale_container_img" src="img/snackSale/snack_sale10.png" alt="photo baguette">
          <p class="snackSale_container_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </div>
    </div>
  </section>

<%- include('../partials/footer') %>