<%- include('../partials/header') %>

<div class="container_page">

  <div class="container_picture_top_page">
    <img class="boulangerie_container_photo_img" src="img/viennoiserie/vitrine_viennoiserie2.jpg" alt="photo boutique la fab'rik & co">
  </div>

  <section>
    <div class="boulangerie_presentation">
      <h2>nos viennoiseries</h2>
      <p>Entrez dans l'univers gourmand de la viennoiserie chez La Fab'rik & Co pour découvrir notre rayon de délicieuses créations sucrées, des croissants dorés, des pains au chocolat fondants et bien d'autres délices.</p>
      <br>
      <p>Succombez à la tentation et offrez-vous une pause gourmande qui éveillera vos sens.</p>
    </div>
  </section>

  <section>
    <div class="viennoiserie_container1">
      <h3>viennoiseries</h3>
      <div class="viennoiserie_container1_picture">
        <div class="viennoiserie_container1_descriptionX3">
          <img class="viennoiserie_container1_img" src="img/viennoiserie/viennois2.png" alt="photo viennoiserie">
          <p class="viennoiserie_container1_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="viennoiserie_container1_descriptionX3">
          <img class="viennoiserie_container1_img" src="img/viennoiserie/pain_choco.png" alt="photo viennoiserie">
          <p class="viennoiserie_container1_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="viennoiserie_container1_descriptionX3">
          <img class="viennoiserie_container1_img" src="img/viennoiserie/croissants.png" alt="photo viennoiserie">
          <p class="viennoiserie_container1_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </div>
      <div class="viennoiserie_container2_picture">
        <div class="viennoiserie_container2_descriptionX4">
          <img class="viennoiserie_container2_img" src="img/viennoiserie/pain_raisin.png" alt="photo viennoiserie">
          <p class="viennoiserie_container2_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="viennoiserie_container2_descriptionX4">
          <img class="viennoiserie_container2_img" src="img/viennoiserie/pain_sucre.png" alt="photo viennoiserie">
          <p class="viennoiserie_container2_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="viennoiserie_container2_descriptionX4">
          <img class="viennoiserie_container2_img" src="img/viennoiserie/pain_suisse.png" alt="photo viennoiserie">
          <p class="viennoiserie_container2_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="viennoiserie_container2_descriptionX4">
          <img class="viennoiserie_container2_img" src="img/viennoiserie/chausson.png" alt="photo viennoiserie">
          <p class="viennoiserie_container2_description_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </div>  
    </div>
  </section>

<%- include('../partials/footer') %>