<%- include('partials/header') %>

<h1>boulangerie la fab'rik & co</h1>

<section>
  <div class="container1_presentation_p">
    <p class="container1_presentation_p1">
      Bienvenue dans notre boulangerie-pâtisserie artisanale "la Fab'Rik & Co" située à Longperrier, où chaque bouchée est un plaisir sucré et chaque pain est fabriqué avec passion et soin. 
      Notre équipe de boulangers et de pâtissiers chevronnés met tout en œuvre pour vous offrir les meilleurs produits à partir d'ingrédients frais et naturels. 
    </p>
    <p class="container1_presentation_p2">
      Notre assortiment de pains fraîchement cuits au four est varié et délicieux.
      Du pain blanc classique aux pains spéciaux, nous pouvons satisfaire tous les amateurs.
    </p>
    <p class="container1_presentation_p3">
      Notre sélection de pâtisseries fraîchement préparées est tout aussi variée et délicieuse. 
      Des éclairs au chocolat aux macarons, en passant par les tartes aux fruits de saison et les gâteaux personnalisés pour toutes les occasions, nos pâtissiers talentueux créent des desserts incroyables qui émerveillent les papilles gustatives. 
    </p>
    <p class="container1_presentation_p4">
      Chez nous, la qualité et le service sont primordiaux. 
      Nous sommes heureux de personnaliser chaque commande selon vos préférences, et nous sommes là pour répondre à vos besoins en matière de pain et de pâtisserie. 
      Nous sommes fiers de notre réputation de boulangerie-pâtisserie de qualité, et nous espérons avoir l'occasion de vous accueillir et de vous faire goûter nos délicieuses créations.
    </p>
  </div>
  <div class="container1_presentation_nav">
      <a class="container1_presentation_nav_link" href="/accueil">Découvrir notre boutique</a>
  </div>
</section>

<section class="container2_presentation">
  <div class="container2_presentation_picture">
    <img  class="container2_presentation_img" src="img/landingPage/boulangerLanding.jpg" alt="photo enfourne pain">
  </div>
  <div class="container2_presentation_right">
    <p>
      Nos boulangers travaillent avec une précision minutieuse, en utilisant des techniques traditionnelles qui ont été perfectionnées au fil des ans.  
    </p>
    <br>
    <p>
      Ils sont attentif à chaque étape du processus de fabrication du pain, depuis la sélection des ingrédients de la plus haute qualité jusqu'à la surveillance constante de la température du four pour s'assurer que le pain est cuit à la perfection.
    </p>
    <br>
    <p>
      C'est cette fierté et cette passion pour leur métier qui inspirent nos boulangers à continuer à magnifier leur art jour après jour.
    </p>
    <div class="container2_presentation_nav">
      <a class="container2_presentation_nav_link" href="/boulangerie">Découvrir nos pains boulangers</a>
    </div>
  </div>
</section>

<section class="container3_presentation">
  <div class="container3_presentation_left">
    <p>
      Nos pâtissiers sont passionnés et créatifs sélectionnant avec soin les meilleurs ingrédients pour créer des desserts qui émerveilleront les papilles gustatives des consommateurs.
    </p>
    <br>
    <p>
      Ils sont attentifs aux détails, travaillant avec précision pour s'assurer que chaque dessert est parfaitement cuit et décoré avec soin.
    </p>
    <br>
    <p>
      Nos pâtissiers sont également innovateurs, toujours à la recherche de nouvelles saveurs, de nouvelles techniques et de nouvelles idées pour surprendre et ravir les clients.
    </p>
    <div class="container3_presentation_nav">
      <a class="container3_presentation_nav_link" href="/patisserie">Découvrir nos pâtisseries</a>
    </div>
  </div>
  <div class="container3_presentation_picture">
    <img  class="container3_presentation_img" src="img/landingPage/patissierLanding.jpg" alt="photo fabrication gateau">
  </div>
</section>

<section class="container4_presentation">
  <div class="container2_presentation_picture">
    <img  class="container4_presentation_img" src="img/landingPage/mixerLanding2.jpg" alt="photo mixer viennoiserie">
  </div>
  <div class="container2_presentation_right">
    <p>
      Les viennoiseries sont l'un des produits les plus emblématiques d'une boulangerie-pâtisserie, et chez nous, nos boulangers-pâtissiers mettent leur passion et leur savoir-faire dans chaque viennoiserie qu'ils produisent. 
    </p>
    <br>
    <p>
      Ils travaillent avec des ingrédients frais et de qualité, ainsi qu'avec des recettes testées et approuvées pour assurer une qualité constante.
    </p>
    <div class="container2_presentation_nav">
      <a class="container2_presentation_nav_link" href="/viennoiserie">Découvrir nos viennoiserie</a>
    </div>
  </div>
</section>

<section class="container5_presentation">
  <div class="container3_presentation_left">
    <p>
      Nos boulangers et pâtissiers mettent la même passion et le même savoir-faire dans la préparation de nos snacking salés et sucrés que dans tous les autres produits de notre boulangerie-pâtisserie.
    </p>
    <br>
    <p>
      Nous sommes attentifs aux besoins de nos clients et adaptons nos recettes pour répondre à toutes les demandes.
    </p>
    <div class="container3_presentation_nav">
      <a class="container3_presentation_nav_link" href="/snackingsucre">Découvrir nos snacks sucrés</a>
    </div>
    <div class="container3_presentation_nav">
      <a class="container3_presentation_nav_link" href="/snackingsale">Découvrir nos snacks salés</a>
    </div>
  </div>
  <div class="container3_presentation_picture">
    <img  class="container3_presentation_img" src="img/landingPage/sandwichLanding.jpg" alt="photo fabrication sandwich">
  </div>
</section>

<%- include('partials/footer') %>